.HeaderPageT1 {
  text-align: left;
}

.HeaderPageT1 .logo {
  float: left;
	background: url('images/logo.png') no-repeat;
	height: 60px;
	width: 290px;
	margin: 1px 0 0 4px;
	cursor: pointer;
}

.HeaderPageT1 .re {
  float: right;
  font-size: 9.5pt;
  margin: 4px 6px 0 0;
}

.FooterPageT1 {
  text-align: left;  
  padding: 0 20px;
}

.FooterPageT1 .ll {
  float: left;
}

.FooterPageT1 .lr {
  float: right;
}

.FooterPageT1 .ll,
.FooterPageT1 .lr {
  line-height: 23px;
  margin-top: 2px\0;
}