#resized_header {
  position: relative;
  background: url("images/header_bg.png") repeat-x 0 0;
  height: 60px;
  border-bottom: 3px solid #555;
  text-align: left;
}

#resized_header * {
  color: #fff;
}

#resized_header a:hover {
  color: #fe9;
}

#resized_header .logo {
  float: left;
	background: url('images/logo.png') no-repeat;
	height: 60px;
	width: 290px;
	margin: 1px 0 0 4px;
	cursor: pointer;
}

#resized_header .re {
  float: right;
  font-size: 9.5pt;
  margin: 4px 6px 0 0;
}

#resized_footer {
  border-top: 1px solid #999;
  bottom: 0;
  left: 0;
  right: 0;
  height: 23px;
  position: absolute;
  background-color: #f5f5f5;
  background-image: -webkit-linear-gradient(top, #fff, #ccf);
  background-image: -moz-linear-gradient(top, #fff, #ccf);
  background-image: -ms-linear-gradient(top, #fff, #ccf);
  background-image: linear-gradient(to bottom, #fff, #ccf);
  text-align: left;  
  padding: 0 20px;
}

#resized_footer .ll {
  float: left;
}

#resized_footer .lr {
  float: right;
}

#resized_footer .ll,
#resized_footer .lr {
  line-height: 23px;
  margin-top: 2px\0;
}