.HeaderPageT2 {
  text-align: left;
}

.HeaderPageT2 .logo {
  float: left;
	background: url('images/logo.png') no-repeat;
	height: 60px;
	width: 290px;
	margin: 4px 0 0 4px;
	cursor: pointer;
}

.HeaderPageT2 .re {
  float: right;
  font-size: 9.5pt;
  margin: 7px 7px 0 0;
}